<mat-card class="container">
  <mat-sidenav-container class="example-container">
    <mat-sidenav-content>
      <mat-card-content id="delivery" #delivery>
        
        <ng-container>
          <div class="container">
            <div class="row mb-2 no-gutters">
              <div class="col-sm-12 chart-padding">
                <div class="container mb-2">
                  <div>
                    <button mat-flat-button (click)="redraw()">Redraw</button>
                    <button mat-flat-button (click)="reset()">Reset</button>
                  </div>
                  <ng-container>
                    <highcharts-chart 
                      id="container" 
                      [Highcharts]="Highcharts" 
                      [constructorType]="chartConstructor"
                      [options]="chartOptions" 
                      style="width: 100%; height: 300px; display: block;"
                    >
                    </highcharts-chart>
                  </ng-container>
                </div>
              </div>

            </div>
          </div>
        </ng-container>

      </mat-card-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-card>
